body {
    background-color: #FCEBB6;
    background-image: url("background.gif");
    color: #221811;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    background-color: #D2B48C;
    height: 150px;
    background-image: url("javajamlogo.jpg");
    background-repeat: no-repeat;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
}

footer {
    background-color: #D2B48C;
    text-align: center;
    font: italic;
    font-size: .60em;
}

.xxx {
    text-align: center;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fef6c2;
    min-width: 900px;
    max-width: 1280px;
    box-shadow:5px 10px 18px #888888;
}